{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://use.fontawesome.com/b466fa169b.js"></script>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Internet For Dummies</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link id="css-preset" href="{% static 'css/presets/preset1.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	      <div class="item active" style="background-image: url({% static 'images/slider/1.jpg' %})">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Internet <span>HelpBot</span></h1>
            <p class="animated fadeInRightBig">A Hitchhiker's Guide to the Internet.</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#user">Start now</a>
          </div>
        </div>
	<div class="item" style="background-image: url({% static 'images/slider/2.jpg' %})">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Say Hello to <span>The Internet</span></h1>
            <p class="animated fadeInRightBig">Easy steps to get around.</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#user">Start now</a>
          </div>
        </div>
	<div class="item" style="background-image: url({% static 'images/slider/4.jpg' %})">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">We are <span>Here to Help!</span></h1>
            <p class="animated fadeInRightBig">Personalised. Comprehensive. Free.</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#user">Start now</a>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <!--<h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>-->
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#user">Get Started</a></li> 
            <li class="scroll"><a href="#services">Catalog</a></li>                  
            <!--<li class="scroll"><a href="#portfolio">Portfolio</a></li>-->
            <li class="scroll"><a href="#team">Team</a></li>
            <!--<li class="scroll"><a href="#blog">Blog</a></li>-->
            <li class="scroll"><a href="#contact">Contact</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->


  <section id="user">
    <div id="helpbot-us" class="parallax">
      <div class="container">
        <div class="row" id="chatdiv">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            
          </div>
          
        </div>

	<div>

        <div class="input-group">
          <label for="usr">Press enter to send</label>
          <input type="text" class="form-control" id="chatbox" placeholder="Enter your query here">
          <div class="input-group-btn">
            <br>
            <button class="btn btn-default" id="reply" type="submit">
            <i class="fa fa-reply"></i>
          </button>
          
                                
          </div>
          <br>

          

        </div>
            
      </div>
    </div>        
  </section><!--/#contact-->



  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>What can we help you with?</h2>
            <p>Learn how to use GMail, Facebook, Amazon, and much, much, more!<br>Need help with something else? Have a chat with our ever so helpful HelpBot!</p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-envelope-open-o" ></i>
            </div>
            <div class="service-info">
              <h3>MAIL</h3>
              <p>Learn how to read, reply and send mails.</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-facebook-square"></i>
            </div>
            <div class="service-info">
              <h3>SOCIAL</h3>
              <p>Learn how to share what you're up to! </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="service-info">
              <h3>SHOPPING</h3>
              <p>Learn how to buy products that you love, online!</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class="fa fa-credit-card-alt"></i>
            </div>
            <div class="service-info">
              <h3>BANKING</h3>
              <p>Learn how to make easy transactions in a few minutes!</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-commenting-o"></i>
            </div>
            <div class="service-info">
              <h3>HELPBOT</h3>
              <p>For further help, talk to our HelpBot!</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-smile-o" ></i>
            </div>
            <div class="service-info">
              <h3>NETIQUETTE</h3>
              <p>Learn the basics of interacting with others on the World Wide Web!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#services-->
  
  
    <section id="features" class="parallax">
    <div class="container">
      <div class="row count">
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-user"></i>
          <h3 class="timer">4000</h3>
          <p>Happy Clients</p>
        </div>
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
          <i class="fa fa-desktop"></i>
          <h3 class="timer">200</h3>                    
          <p>Answers</p>
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
          <i class="fa fa-trophy"></i>
          <h3 class="timer">10</h3>                    
          <p>Minute Tutorials!</p>
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="fa fa-comment-o"></i>                    
          <h3>24/7</h3>
          <p>Fast Support</p>
        </div>                 
      </div>
    </div>
  </section><!--/#features-->

  <section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>The Team</h2>
          <p>Meet the creators of The Internet Helpbot!</p>
        </div>
      </div>
      <div class="team-members">
        <div class="row">
          <div class="col-sm-3 col-sm-offset-1">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
		      <img class="img-responsive" src="{% static 'images/team/S.jpeg' %}" alt="">
              </div>
              <div class="member-info">
                <h3>Sireesh Kodali</h3>
                <h4>CEO &amp; Founder</h4>
                <p>Chief Executive Officer</p>
              </div>
              <div class="social-icons">
                <ul>
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
              <div class="member-image">
		      <img class="img-responsive" src="{% static 'images/team/A.jpg' %}" alt="">
              </div>
              <div class="member-info">
                <h3>Arnesh Kundu</h3>
                <h4>Designer</h4>
                <p>Writer, Artist, Coder.</p>
              </div>
              <div class="social-icons">
                <ul>
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
              <div class="member-image">
		      <img class="img-responsive" src="{% static 'images/team/C.jpeg' %}" alt="">
              </div>
              <div class="member-info">
                <h3>Chinmaya Mahesh</h3>
                <h4>Developer</h4>
                <p>The Man, the Myth, the Legend.</p>
              </div>
              <div class="social-icons">
                <ul>
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>            
    </div>
  </section><!--/#team-->

  

  
  <section id="contact">
    <!--<div id="google-map" class="wow fadeIn" data-latitude="52.365629" data-longitude="4.871331" data-wow-duration="1000ms" data-wow-delay="400ms"></div>-->
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contact Us</h2>
            
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Address:</span> Bangalore, India </li>
                  <li><i class="fa fa-phone"></i> <span> Phone:</span> +91 9741113451  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:someone@yoursite.com"> chinmaya.mahesh@gmail.com</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2014 Oxygen Theme.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Designed by <a href="http://www.themeum.com/">Themeum</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
	<script>
		var context = {};
		function getresp() {
			var msg = $('#chatbox').val();
			$("#chatdiv").append("<p> You:" + msg + "</p>");
			console.log(msg);
			$.getJSON("/api/?message=" + msg + "&context=" + JSON.stringify(context), function(json) {
				console.log(json);
				var data = JSON.parse(json);
				for (var i in data) {
				$("#chatdiv").append("<p> Watson:" + i.substring(4) + "</p>");
				$('#chatdiv').append("<img src=\"/static/pics/" + data[i] + "\"/>");
				}
				context = json["context"];
				
			});
		}
		$('#reply').click(getresp);
	</script>
</html>
