<!DOCTYPE html>
<html>
	<head>
		<title> Hello </title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<input id="chatbox"></input>
		<button id="reply">Reply</button>
	</body>
	<script>
		var context = {};
		function getresp() {
			var msg = $('#chatbox').val();
			$("body").append("<p> You:" + msg + "</p>");
			console.log(msg);
			$.getJSON("/api/?message=" + msg + "&context=" + JSON.stringify(context), function(json) {
				console.log(json.output.text[0]);
				$("body").append("<p> Watson:" + json.output.text[0] + "</p>");
				context = json.context;	
			});
		}
		$('#reply').click(getresp);
	</script>
</html>
